{% extends "admin/layout.njk" %}
{% block head %}
<title>Foodfy Admin - Cadastro Chef</title>
{% endblock %}
{% block content %}
<div class="admin-create-container">
    <form action="/admin/chefs" method="POST" enctype="multipart/form-data">
        <div class="admin-create-head">
                <h1>Criando chef </h1> 
                <button type="submit">Salvar receita</button> 
        </div>
        {%include "admin/chefs/fields.njk"%}
    </form>
</div>
{% endblock %}