{% extends "admin/layout.njk" %}
{% block head %}
<title>Foodfy Admin - Editar Chef</title>
{% endblock %}
{% block content %}
<div class="admin-create-container">
    <form method="POST" action="/admin/chefs?_method=DELETE" id="delete-btn">
        <div class="delete-btn">
            <input type="hidden" name="id" value="{{chef.id}}">
            <button type="submit">Deletar</button> 
        </div>
    </form>
    <form action="/admin/chefs?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="admin-create-head">
            <h1>Editando chef </h1>
            <input type="hidden" name="id" value="{{chef.id}}">
            <button type="submit">Salvar chef</button> 
        </div>
        {%include "admin/chefs/fields.njk"%}
    </form>
</div>
{% include "confirm.njk" %}
{% endblock %}