<div class="form-item">
    <div>Nome</div>
    <input type="text" name="name" value="{{chef.name}}">
</div>

<div class="form-item">
    <div>Avatar:</div>
    {% if files %}
    <div class="form-item">
        <input type="text" name="file_src" value="{{files.src}}">
    </div>
    {% endif %}
    <div id="avatar-upload">
        <input 
            id="avatar-input"
            type="file" 
            name="image" 
            accept="image/*"
            multiple
            onchange="ImagesUpload.handleFileInput(event, 1)"
        >
        <p class="btn">Enviar avatar</p>
    </div>

    <div id="images-preview">
        {% if files %}
            {% for image in files %}
                <div class="image" id={{image.id}}>
                    <img src="{{image.src}}" alt="{{image.name}}">
                    <i 
                        class="material-icons"
                        onclick="ImagesUpload.removeOldImages(event)"
                    >
                    close 
                    </i>
                </div>
            {% endfor %}
            <input type="hidden" name="removed_files"/>            
        {% endif %}
    </div>
</div>