<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>Foodfy Admin</title>
    {% endblock %}
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="menu-admin">
        <a href="/admin/index"><img src="/assets/logo.png" alt=""></a>
    </header>
    {% block content %}
    {% endblock %}
    <script src="/scripts.js"></script>
</body>
</html>