{% extends 'user/layout.njk' %}


{% block content %}
<div class="banner">
    <div class="banner-content">
    <h1>As melhores receitas</h1>
    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>
    <img src="assets/banner.png" alt="">
</div>
</div>

<div class="middle-container">
    <h2>Mais acessadas</h2>
    <div class="cards">
        {%for item in items %}
        <div class="card" id="{{item.id}}">
            <img src="{{ item.image }}" alt="Receita {{ item.name }}">
            <h3>{{ item.name }}</h3>
            <p>{{ item.author }}</p>
        </div>
        {% endfor %}
    </div>
</div>
<script src="scripts.js"></script>
</div>
{% endblock %}