<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>Foodfy Chefes</title>
    {% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="menu-admin">
        <a href="/" ><img src="/assets/logo2.png" alt=""></a>
        <a href="/admin/recipes" onclick="ActiveMenu.active()">Receitas</a>
        <a href="/admin/chefs" onclick="ActiveMenu.active()">Chefs</a>
    </header>
    {% block content %}
    {% endblock %}
    <script src="/scripts.js"></script>
</body>
</html>