*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
a{
    text-decoration: none;
    color: #111;
}
a:hover{
    text-decoration: underline;
}

/* MENU */
.admin-create-container,
.admin-infos,
.info-recipe,
#header-container{
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}
.menu{
    display: flex;
    align-items: center;
    margin: 40px 0;
}
.menu img{
    margin-right: 70px;
}
.menu a{ 
    margin-right: 30px;
}
.menu .filter{
    position: absolute;
    right: 0;
}
.menu .filter form input{
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 10.5px 20px;
    font-size: 14px;
}
/* BANNER */
.banner{
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    height: 336px;
    background-color: #FBDFDB;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
}
.banner h1{
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
}
.banner p{
    font-size: 18px;
    line-height: 28px;
}
.banner img{
    width: 216px;
    margin: auto 8% -1%;
    float: right;
}
.banner-content {
    margin: 8%;
    width: 50%;
}

/* CARDS */
.middle-container{
    width: 950px;
    margin: 0 auto;
}
.middle-container h2{
    margin: 60px 0 0;
    font-size: 24px;
}
.middle-container .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}
.middle-container .card img{
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
    height: 140px;
    object-fit: cover;
}
.middle-container .card h3{
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
}
.middle-container .card p{
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

/* MODAL */
.modal-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed ;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.modal{
    position: relative;
    background-color: #fff;
    width: 630px;
    height: 400px;
    margin: 150px auto;
    text-align: center;
    border-radius: 10px;
}
.modal img{
    margin-top: 15px;
    width: 600px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.modal h3{
    margin-top: 20px;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
}
.modal p{
    font-size: 18px;
    color: #777777;
    line-height: 28px;
}
.modal .close-modal{
    margin-top: 45px;
    font-size: 16px;
    cursor: pointer;
}
.modal-overlay.active-modal{
    opacity: 1;
    visibility: visible;
}

/* FOOTER */
.footer-container{
    display: block;
    margin-top: 100px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: center;
    width: 100%;
}
.footer-container p{
    padding: 20px;
}


.about-container h2{
    margin: 30px 0 30px;
    font-size: 24px;
    line-height: 34px;
}
.about-container p{
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    margin-top: 30px;
}

/* RECIPES INFORMATION */
.info-content{
    text-align: center;
    margin-bottom: 50px;
}
.info-content img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}
.info-content h2{
    padding: 50px 0 4px;
    font-size: 36px;
}
.info-content p{
    font-size: 20px;
    color: #777777;
}
.info-prepare h3{
    font-size: 24px;
    margin: 30px 0 20px;
}
.toggle-btn{
    font-size: 12px;
    color: #999999;
    padding: 0 0 0 8px;
    cursor: pointer;
    background-color: transparent;
}

.info-prepare ul{
    list-style-position: inside;
}
.info-prepare ul,
.info-prepare p{
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    visibility: hidden;
    opacity: 0;
    display: none;
}
.info-prepare ul.active,
.info-prepare p.active{
    visibility: visible;
    opacity: 1;
    display: block;
}
.info-prepare p{
    margin-bottom: 20px;
}

/* ADMIN STYLES */
.menu-admin{
    padding: 30px 0;
    background-color: #111;
    display: flex;
    align-items: center;
    position: relative;
}
.menu-admin a{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    color: #999;
    font-weight: bold;
}
.menu-admin a + a{
    margin-right: 30px;
}
.menu-admin a img{
    margin: auto 50px auto 145px;
}
.admin-middle-container{
    width: 950px;
    margin: 0 auto;
    position: relative;
}
.admin-middle-container h1{
    margin: 50px 0;
    font-size: 24px;
}
.admin-middle-container .admin-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 80px;
    
}
.admin-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.index-info a{
    position: absolute;
    bottom: 10px;
}
.admin-middle-container .admin-card img{
    width: 95%;
    height: 100px;
    border-radius: 8px;
    margin-right: 20px;
    object-fit: cover;
}
.admin-middle-container .admin-card h3{
    font-size: 18px;
    font-weight: normal;
}
.admin-middle-container .admin-card p{
    font-size:14px;
    color: #777;
    margin: 5px 0 10px;
}
.admin-middle-container .admin-card a{
    font-size:14px;
    color: #6558C3;
    font-weight: bold;
}
/* ADMIN CREATE RECIPES*/
.admin-create-container{
    position: relative;
}
.admin-infos,
.admin-create-head{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: baseline;
    justify-content: space-between;
}
.menu .filter button,
.btn-new,
.btn,
.admin-infos a,
.admin-create-head button[type="submit"],
.delete-btn button[type="submit"]{
    display: inline-block;
    background-color: #6558C3;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
}
.btn-new{
    position: absolute;
    right: 0;
    top: 0;
}
.btn-new:hover{
    text-decoration: none;
}
.delete-btn button[type="submit"] {
    background-color:#DC4747;
    position: absolute;
    right: 20%;
    top: 48px;
}
.admin-infos h1,
.admin-create-container h1{
    font-size: 24px;
    margin: 50px 0 30px;
}
.admin-create-container form{
    width: 100%;
}
.admin-create-container .form-item{
    margin: 30px 0;
}
.admin-create-container .form-item div,
.admin-create-container .form-item label{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.admin-create-container .form-item select,
.admin-create-container .form-item input,
.admin-create-container form textarea{
    border: 1px solid #DDDDDD;
    width: 100%;
    outline: none;
}
.admin-create-container .form-item select,
.admin-create-container .form-item input{
    height: 50px;
    background-color: transparent;
}
.admin-create-container form button[type="button"]{
    display: block;
    color: #6558C3;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
    background: transparent;
}

/*RECIPE IMAGES UPLOAD*/
.form-item .container-img{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 8px;
}
.form-item #images-upload{
    position: relative;

    display: block;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #777777;

    width: 150px;
    height: 150px;
}
.form-item #avatar-upload{
    position: relative;

    display: block;
    overflow: hidden;
}
.form-item #images-upload i{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    font-size: 50px;
    cursor: pointer;
}
.form-item #images-input,
.form-item #avatar-input{
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;

    cursor: pointer;
}

/* RECIPE IMAGES PREVIEW*/
#images-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;


}
#images-preview img{
    width: 150px;
    height: 150px;
    border-radius: 4px;

    object-fit: cover;
}

#images-preview .image{
    position: relative;
}
#images-preview .image i{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
    color: red;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 200%;
    cursor: pointer;

    transition: opacity 200ms;
    opacity: 0;
}
#images-preview .image i:hover{
    opacity: 1;
}

/* CHEF AVATAR UPLOAD */
.form-item #avatar-input {

}


/* RECIPE DETAILS */
.admin-infos a:hover{
    text-decoration: none;
}

/* CHEFS INDEX */
.admin-cards{
    margin-bottom: 150px;
}
.chefs-list{
    width: 800px;
    margin: 50px auto 32%;
}
.chefs-list h1{
    font-size: 24px;
}
.chefs-card{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.chefs-cards{
    display: flex;
    align-items: center;
}
.chefs-cards img{
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.chefs-cards h3{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
}
.chefs-cards a{
    font-size: 14px;
    color: #6558C3;
    font-weight: bold;
}


/* SHOW CHEFS */
.show-chef{
    width: 100%;
    margin: 50px auto;
    text-align: center;
}
.show-chef img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.show-chef h1{
    font-size: 36px;
    margin: 30px auto 4px;
}
.show-chef p{
    font-size: 20px;
    color: #777;
}