{% extends 'user/layoutFilter.njk' %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
<section class="middle-container">
    <div class="cards">
        {%for item in items %}
        <div class="card" id="{{item.id}}">
            <img src="{{ item.images[0].src }}" alt="Receita {{ item.title }}">
            <h3>{{ item.title }}</h3>
            <p>{{ item.chef_name }}</p>
        </div>
        {% endfor %}
    </div>
        <div class="pagination" 
        data-page={{pagination.page}} 
        data-total={{pagination.total}} 
        data-filter={{filter}}>
    </div>
</section>
</div>
{% endblock %}