{% extends "user/layout.njk" %}
{% block head %}
<title>Admin - {{ chefs.name }}</title>
{% endblock %}

{% block content %}
<div class="admin-infos">
    <h1>Chef: {{ chef.name }}</h1> 
</div>
<div class="show-chef">
    <img src="{{chef.src}}" alt="Avatar de {{chefs.name}}">
    <h1>{{chefs.name}}</h1>
    <p>{{ chef.total_recipes }} receitas</p>
</div>
<section class="middle-container">
    <div class="cards">
        {%for item in items %}
        <div class="card" id="{{item.id}}">
            <img src="{{ item.files[0].src }}" alt="Receita {{ item.title }}">
            <h3>{{ item.title }}</h3>
        </div>
        {% endfor %}
    </div>
</section>
</div>
{% endblock %}