{% extends "admin/layout.njk" %}
{% block head %}
<title>Foodfy Admin - Cadastro</title>
{% endblock %}
{% block content %}
<div class="admin-create-container">
    <form action="/admin/recipes" method="POST">
        <div class="admin-create-head">
                <h1>Criando receita </h1> 
                <button type="submit">Salvar receita</button> 
        </div>
        <div class="form-item">
        <div>Chef</div>
            <select name="chef">
                {% for chef in chefsOptions %}
                    <option value="{{chef.id}}">
                        {{chef.name}}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-item">
            <div>Imagem da Receita</div>
            <input type="text" name="image" placeholder="HTTP://">
        </div>
        <div class="form-item">
            <div>Nome da Receita</div>
            <input type="text" name="title">
        </div>
        <div class="form-item" id="ingredients">
            <div>Ingredientes</div>
            <div class="ingredient">
                <input type="text" name="ingredients[]">
            </div>
        </div>
        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
        <div class="form-item" id="prepares">
            <div>Modo de Preparo</div>
            <div class="prepare">
                <input type="text" name="prepare[]">
            </div>
        </div>
        <button type="button" class="add-prepare">Adicionar novo passo</button>
        <div class="form-item">
            <label for="info">Informações Adicionais</label>
            <textarea name="info" id="info" cols="40" rows="10"> 
            </textarea>
        </div>
    </form>
</div>
{% endblock %}