{% extends "admin/layout.njk" %}
{% block head %}
<title>Foodfy Admin - Cadastro</title>
{% endblock %}
{% block content %}
<div class="admin-create-container">
    <form method="POST" action="/admin/recipes/?_method=DELETE" id="delete-btn" >
        <div class="delete-btn">
            <input type="hidden" name="id" value="{{item.id}}">
            <button type="submit">Deletar</button> 
        </div>
    </form>

    <form  method="POST" action="/admin/recipes/?_method=PUT" enctype="multipart/form-data">
        <div class="admin-create-head">
            <h1>Editando receita </h1> 
            <input type="hidden" name="id" value="{{item.id}}">
            <button type="submit">Salvar receita</button> 
        </div>
        {% include "admin/recipes/fields.njk"%}
    </form>
</div>

{% include "confirm.njk" %}
{% endblock %}