<div class="form-item">
<div>Chef</div>
    <select name="chef_id">
        {% for chef in chefsOptions %}
            <option value="{{chef.id}}"
            {% if item.chef_id == chef.id %} selected {% endif %}>
                {{chef.name}}
            </option>
        {% endfor %}
    </select>
</div>
<div class="form-item">
    <div>Imagem da Receita</div>
    <div class="container-img">
        <div id="images-upload">
        <input 
            id="images-input"
            type="file" 
            name="image" 
            multiple
            accept="image/*"
            onchange="ImagesUpload.handleFileInput(event, 5)"
        >
        <i class="material-icons">add</i>
        </div>

        <div id="images-preview">
            {% if item.images %}
                {% for image in item.images %}
                    <div class="image" id="{{ image.file_id }}">
                        <img src="{{image.src}}" alt="{{image.name}}">
                        <i 
                            class="material-icons"
                            onclick="ImagesUpload.removeOldPhoto(event)"
                        >
                        close 
                        </i>
                    </div>
                {% endfor %}
                <input type="hidden" name="removed_files"/>
            {% endif %}
        </div>
    </div>
</div>
<div class="form-item">
    <div>Nome da Receita</div>
    <input type="text" name="title" value={{item.title}}>
</div>
<div class="form-item" id="ingredients">
    <div>Ingredientes</div>
    {% if item.ingredients %}
        {% for ingredient in item.ingredients %}
            <div class="ingredient">
                <input type="text" name="ingredients[]" value={{ingredient}}>
            </div>
        {% endfor %}
    {% else %}
        <div class="ingredient">
            <input type="text" name="ingredients[]" value={{ingredient}}>
        </div>
    {% endif %}
    
</div>
<button 
    type="button" 
    class="add-ingredient"
    onclick="AddButton.addIngredient()"
>
Adicionar novo ingrediente
</button>
<div class="form-item" id="prepares">
    <div>Modo de Preparo</div>
    {% if item.prepare %}
        {% for prepare in item.prepare %}
        <div class="prepare">
            <input type="text" name="prepare[]" value={{prepare}}>
        </div>
        {% endfor %}
    {% else %}
        <div class="prepare">
            <input type="text" name="prepare[]" value={{prepare}}>
        </div>
    {% endif %}
    
    
</div>
<button 
    type="button" 
    class="add-prepare"
    onclick="AddButton.addPrepare()"
>
Adicionar novo passo
</button>
<div class="form-item">
    <div>Informações Adicionais</div>
    <textarea name="info" id="info" cols="60" rows="20">{{item.info}}</textarea>
</div>