<script>
    const btnDelete = document.querySelector('#delete-btn')
    btnDelete.addEventListener('submit',(e) => {
        const confirmation = confirm("Deletar esse registro?")
        if(!confirmation){
            e.preventDefault()
        }
    })
</script>